.sw
  .so
  .vhr
  .so
.g
  - 2.times do
    .p
  .b
.s 
  Start
  .in Hover the bar on the bottom left for settings.
.sb
  %p 0
  %p 0
.op
  .st Announcer
  .st Sound
  .st Reset
  .st CodePen Ball
%audio{src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/455279/bounce.wav", type: "audio/wav", class: "bounce"}
%audio{src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/455279/pattle.wav", type: "audio/wav", class: "pattle"}
%audio{src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/455279/ply1.mp3", type: "audio/mp3", class: "ply1s"}
%audio{src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/455279/ply2.mp3", type: "audio/mp3", class: "ply2s"}